<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="RollingFile" fileName="src/main/resources/logs/app.log"
                     filePattern="src/main/resources/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d %p [%c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 kB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <loggers>
        <root level = "info">
            <AppenderRef ref="RollingFile"/>
        </root>
    </loggers>
</Configuration>